//
#table {
    margin: 0 auto;
    width: 500px;

    .input-group-text {
        padding: 0 .5em 0 .5em;

        .fa {
            font-size: 12px;
        }
    }
    .fa-check-circle{
        color: greenyellow;
    }
    .fa-window-close{
        color: orangered;
    }
}
