#table {
  margin: 0 auto;
  width: 600px;
  color: black;
}

#table .input-group-text {
  padding: 0 0.5em 0 0.5em;
}

#table .input-group-text .fa {
  font-size: 12px;
}

#table .fa-check-circle {
  color: greenyellow;
  font-size: 2.2em;
}

#table .fa-window-close {
  color: orangered;
  font-size: 2.2em;
}

#table .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

